@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #181818;
    ;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.left {
    width: 25vw;
    /* height: 50vh; */
    padding: 5px;
    /* background: #212121; */
    /* transition: all 10s; */
}

.close {
    position: absolute;
    right: 20px;
    top: 36px;
    cursor: pointer;
}

.home {
    padding: 20px;
    line-height: 25px;
    background: var(--bg-color);

    /* background: #e5bb33; */
}

.logo img {
    width: 120px;
}

.home ul li {
    display: flex;
    width: 15px;
    gap: 20px;
    list-style-type: none;
    padding-top: 14px;
    display: flex;
    align-items: center;
    color: #ffffffaa;
    /* gap: 5px; */
    /* justify-content: center; */
    /* font-weight: bold; */
}

.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    list-style-type: none;
    padding-top: 1px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    opacity: 0.5;
}

.heading h2 {
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;
}

.library {
    padding: 10px 10px;
    min-height: 70vh;
    /* background: #e36060; */
    position: relative;
    background: var(--bg-color);

}

/* .songs{
    display: flex;
    flex-direction: column;
} */

.songList {
    /* background-color: yellow; */
    height: 50vh;
    overflow: auto;
    margin-top: 10px;
}

.songList ul {
    /* background: #d2d2d2; */
    padding: 0px 20px 0 12px;
    font-size: 14px;
    margin: 0 auto;
}

.songList::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.songList::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}

.songList::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 10px;
}

.songList ul li {
    /* width: 100px;
     background: #ababab;  */
    background: rgba(68, 68, 68, 0.374);
    cursor: pointer;
    list-style: none;
    /* padding: 5px 0; */
    display: flex;
    justify-content: space-between;
    gap: 14px;
    padding: 8px 14px;
    margin: 10px 0;
    border-radius: 100px;
    border: 1px solid rgba(207, 207, 207, 0.303);
}

.songList ul li:hover {
    background: rgba(68, 68, 68, 0.891);
}

.info {
    /* margin-left: -20px; */
    /* background-color: yellow; */
    width: 150px;
    /* text-align: start; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* color: rgb(198, 31, 31); */
}

.artist {
    color: rgb(158, 156, 156);
}

.play-now {
    /* background: #57cc57fc; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color:#000000; */
}

/* .play-now .pl:hover path {
    fill: black;
    background-color: rgb(197, 221, 13);
    stroke: #39ea5c;
} */

.play-now:hover {
    transform: scale(1.1);
}

.footer {
    width: 95%;
    text-align: start;
    position: absolute;
    bottom: 0;
    height: 20%;
}

.footer .links {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    gap: 13px;
    margin-block: 0px;
    font-size: 11px;
    font-weight: 400;
}

.footer a {
    color: grey;
    text-decoration: none;
}


.en-btn button {
    box-sizing: border-box;
    font-size: 0.8125rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition-duration: 33ms;
    padding-inline-start: 32px;
    padding-inline-end: calc(var(--encore-spacing-base, 16px) - 1px);
    border: 1px solid #878787;
    color: #fdfdfd;
    min-block-size: 32px;
    margin: 20px 0;
}

.svvg {
    display: flex;
    position: absolute;
    left: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    height: 95vh;
    overflow: hidden;
    position: relative;
    background: var(--bg-color);
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 30px;
    padding: 20px;
    border-radius: 5px 0px 0px 0px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.signup-btn {
    background: transparent;
    border: none;
    color: #A7A7A7;
    font-size: 16px;
    padding: 8px 32px 8px 8px;
    font-weight: 550;
}

.buttons {
    /* margin: 0 12px; */
    /* background: #f4f4f4; */
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn:hover {
    transform: scale(1.03);
    color: white;
    cursor: pointer;
}

.login-btn {
    background-color: white;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    /* font-size: 1rem; */
    font-weight: bold;
    padding: 10px 32px;
    cursor: pointer;

}

.login-btn:hover {
    transform: scale(1.05);
}

.spotify-playlist {
    padding: 16px;
    height: 70vh;
    overflow: auto;
    scrollbar-color: #888888 #333333;
}

.spotify-playlist::-webkit-scrollbar {
    width: 8px;
}

.spotify-playlist::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}

.spotify-playlist::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 10px;
}

.spotify-playlist h2 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.5rem;
}


.card-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap: 8px;
}

.card {
    border: 2px;
    width: 150px;
    line-height: 18px;
    padding: 12px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

.card:hover {
    background-color: #25252591;
    cursor: pointer;
    --a: 1;
}

.play {
    border-radius: 100%;
    background-color: rgba(87, 204, 87, 0.987);
    width: 45px;
    height: 45px;
    box-shadow: 0px 4px 10px #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 4px;
    top: 125px;
    right: 20px;
    cursor: pointer;
    /* transition: 0.3s ease-in-out; */
    opacity: var(--a);
    transition: all 0.5s;
}

.play:hover {
    background-color: rgba(73, 216, 73, 0.987);
}

.card:hover .play {
    /* opacity: 1; */
    cursor: pointer;
    transform: translateY(-15px);
}

.card .play img {
    width: 50%;
}

.card img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.card h2 {
    padding: 7px 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.card p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.6px;
    word-spacing: 1px;
    line-height: 19px;
    color: #858585;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.playbar {
    position: absolute;
    /* padding-bottom: 10px; */
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.677);
    height: 9%;
    width: 99%;
    padding: 5px 12px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: -12px;
    /* border-radius: 100px; */
    /* gap: 40px; */
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
    padding: 10px 0;
    cursor: pointer;
    width: 33%;
}

.seekbar {
    height: 5px;
    width: 100%;
    /* margin-left: 18px; */
    margin: 0 auto;
    border: 0px solid rgb(211, 211, 211);
    /* border-radius: 100px; */
    background-color: #909090;
    position: relative;
    top: -5px;
    left: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.circle {
    position: inherit;
    cursor: pointer;
    top: 0px;
    left: 0%;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: white;
    transition: left 0.5s;
}

.playbar img:nth-child(2) {
    /* background-color: yellow; */
    width: 35px;
}

.playbar img:hover {
    cursor: pointer;
    /* color: #000000; */
}

.songinfo {}



.songDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.songDetails img {
    width: 30px;
    opacity: 0.8;
}

.song-name {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 40%;
    /* border: 1px solid white; */
}

.timeVol {
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: end;
    width: 33%;
}

.songtime {
    /* border: 1px solid white; */
    /* align-self: center; */
    /* text-align:end; */
    /* transform: translateX(80%);  */
    /* width: 33%;  */
    /* padding-left: 40%; */
    /* margin-left: 33%; */
}


.volume {
    margin-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

.volume:hover {
    /* background: yellow; */
    /* content: "jdksn"; */
    /* display: block; */
}

#rng {
    /* display: none; */
    /* transform: rotate(-90deg); */
    /* margin-right: -10px; */
    margin-left: 12px;
    width: 80%;
    accent-color: rgb(38, 231, 38);
}

/*  Responsiveness */

@media (max-width: 1000px) {
    .left {
        background: rgba(0, 0, 0, 0.996);
        position: absolute;
        left: -100%;
        z-index: 1;
        width: 40vw;
        /* display: none; */
        transition: all 1s;
    }

    /* .songList{
        height: 150px;
    } */

    .right {
        width: 100vw;
        /* transition: all 1s; */
    }

    .card-container {
        justify-content: center;
        /* margin: 0; */
    }

    .card {
        width: 250px;
        margin-top: 10px;
    }

    .hamburger {
        height: 28px;
        display: inline;
        cursor: pointer;
        margin-right: 10px;
    }

    /* .songDetails{
        flex-direction: column;
    } */

    .song-name {
        /* width: 100px; */
        font-size: 14px;
        /* background-color: yellow; */
    }

    .songButtons {
        /* width: 10px; */
        height: 30px;
        gap: 5px;
        cursor: pointer;
    }

    .songtime {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
     .left{
        width: 90vw;
     }
}
